.Login {
	width: 300px;
    display: inline-block;
    padding: 20px;
    text-align: left;
}


.Login label,
.Login input,
.Login button {
    width: 100%;
    box-sizing: border-box;
    font-size: large;
}

h2 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.login-button {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #cebc81;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #479761;
  }


input {
  padding: 5px;
  border: none;
  border-radius: 4px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  transition: box-shadow 0.3s;
}

input:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-footer {
  text-align: center;
  font-size: large;
}

.Login p {
  color: rgb(163, 12, 12);
  font-size: small;
  font-weight: bold;
}